<a href="{% url 'card_variant_detail' card.variant_id %}" class="card-tile">
 
    <div class="card-tile__image-wrap">
        {% include "components/kinetic_card.html" with card=card kinetic_card_class="kinetic-card--tile" %}
    </div>
 
    <div class="card-tile__body">
        <div class="card-tile__name">{{ card.name }}</div>
        <div class="card-tile__set">{{ card.set_name }}</div>
        <div class="card-tile__meta">
            <span class="rarity-badge rarity-badge--{{ card.rarity|lower }}">{{ card.rarity }}</span>
            <span class="card-tile__value">${{ card.current_value }}</span>
        </div>
    </div>
 
</a>
